*.o
*.lo
*.la
*.a
.dep
*~
*.in
*.guess
*.sub
*.log
*.trs
TAGS
Makefile
configure
config.h
config.status
compile
missing
libtool
depcomp
ar-lib
install-sh
ltmain.sh
stamp-h1
src/wsd
src/.libs
src/.dirstamp
src/.deps
test/.libs
test/.dirstamp
test/.deps
autom4te.cache
aclocal.m4
test-driver